beautifulsoup4==4.6.0
bottle==0.12.13
click==6.7
first==2.0.1
Flask==0.12.2
get==0.0.21
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==1.0
numpy==1.13.1
pew==0.1.26
pip-tools==1.9.0
pipenv==6.1.5
post==0.0.13
public==0.0.38
pythonz-bd==1.11.4
query-string==0.0.12
regex==2017.6.7
request==0.0.13
requests==2.13.0
resumable-urlretrieve==0.1.5
semver==2.7.8
setupfiles==0.0.50
six==1.10.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
Werkzeug==0.12.2
